<p>
  <%= link_to 'Create Question', new_question_path %><br/>
</p>

<p>
  <% @questions.each do |question| %>
  <p>

        <%= question.title %> ----- 
        <%= question.description %>-----
        <%= question.category_name %>
        <%= link_to 'View', question_path(question) %>
  <% end %>
  </p>
</p>